<div class="section">
  <div class="container">
    <h1 class="title centered">My Work</h1>
    <div class="grid">
      {{#each items as |item|}}
        <div class="grid__item">
          <div class="card hvr-grow">
            <a href="{{item.link}}" target="_blank" class="thumbnail">
              <img src={{item.src}}/>
            </a>
            <div class="card__info">
              <h1 class="card__title">{{item.title}}</h1>
              <p class="card__description">{{item.description}}</p>
              <p class="card__tools">{{item.tools}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
