<div class="section">
  <div class="container">
    <h1 class="title centered">My Work</h1>
    {{!-- {{#photo-swipe class="grid" items=items history=false as |photoswipe|}} --}}
    <div class="grid">
      {{#each items as |item|}}
        {{#link-to 'projects.modal'}}
          <div class="grid__item">
            {{!-- <img class="preview" src={{item.src}} {{action 'open' (hash index=index) target=photoswipe }} class="card"/> --}}
            <img src={{item.src}} class="card"/>
            {{!-- <p>Built using: <img src="{{item.tools}}" alt=""></p> --}}
          </div>
        {{/link-to}}
      {{/each}}
      {{outlet}}
    </div>
    {{!-- {{/photo-swipe}} --}}
  </div>
</div>
